html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    background: gray;
}

#content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

button {
    margin-top: 1em;
}
button:hover {
    border: 2px solid red;
}

canvas, textarea {
    border: 2px solid black;
}

textarea {
    width: 30%;
}
